

div{
    position: relative;
    
}

h1{
    color: black;
    text-align: center;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 45px;
    margin-bottom: 10px;
}

.h2{
    position: absolute;
    top: 0%;
    right: 0%;
    text-align: center;
    border: 5px solid black;
    width: 150px;
    height: 20px;
    font-size: large;
    font-weight: bold;
}


.grey{
    position: relative;
    background-color: gray;
    color: black;
    margin: 20px;
    border: 5px solid black;
    width: 90%;
    height: auto;
}

#pink{
    background-color: palevioletred;
}

#red{
    background-color: red;
    color: white;
}

#yellow{
    background-color: khaki;
}

@media(min-width:992px){
    .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12{
        float: left;
    }

    .lg-1{
        width: 8.33%;
    }
    .lg-2{
        width: 16.66%;
    }
    .lg-3{
        width: 25%;
    }
    .lg-4{
        width: 33%;
    }
    .lg-5{
        width: 41.66%;
    }
    .lg-6{
        width: 50%;
    }
    .lg-7{
        width: 58.33%;
    }
    .lg-8{
        width: 66.66%;
    }
    .lg-9{
        width: 74.99%;
    }
    .lg-10{
        width: 83.33%;
    }
    .lg-11{
        width: 91.66%;
    }
    .lg-12{
        width: 100%;
    }

}

@media(min-width:768px) and (max-width:991px){
    .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12{
        float: left;
    }

    .md-1{
        width: 8.33%;
    }
    .md-2{
        width: 16.66%;
    }
    .md-3{
        width: 25%;
    }
    .md-4{
        width: 33.33%;
    }
    .md-5{
        width: 41.66%;
    }
    .md-6{
        width: 50%;
    }
    .md-7{
        width: 58.33%;
    }
    .md-8{
        width: 66.66%;
    }
    .md-9{
        width: 74.99%;
    }
    .md-10{
        width: 83.33%;
    }
    .md-11{
        width: 91.66%;
    }
    .md-12{
        width: 100%;
    }

}
